.login{
   background-color: bisque;
   border-radius: 15px;
   height: 1.5rem;
   cursor: pointer;
   position: relative; left: 32rem; top: 3rem;
}

.form{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding-bottom: 30px;
    border-color: bisque;
    border-radius: 10px;
    background-color: blanchedalmond;
    width: 68%;
}


.form label{
    padding-right: 20px;
    padding-left: 5px;
    display: flex;
    position: relative; left: 1rem;
}   

.form input{
    border-radius: 15px;
    position: relative; left: 5rem; top: -1.3rem  ;
}

.button{
    float: right;
    position: relative; left: -10px; top: 10px;
    border-radius: 25px;
    background-color: rgb(241, 132, 132);
    cursor: pointer;
}

.button1{
    text-align: center;
    background-color: rgb(238, 169, 169);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    position: relative; left: 10rem; top: 1rem;
}

.div{
    padding-left: 300px;
}

.buttondiv{
    text-align: center;
}

.div2{
    text-align: center;
    background-color: azure;
    padding: 10px;
    margin-top: -2rem;
}

.div3{
    text-align: center;
    background-color: rgb(57, 70, 70);
    padding: 10px;
    margin-top: -2rem;
}

.h3{
    color: aliceblue;
}

.h31{
    color: aliceblue;
}