.box{
    padding: 1rem;
    background-color: rgb(211, 164, 61);
    border-radius: 10px;
    height: 10rem;
}

.button{
    position: relative;
    top: 1rem;
    width: 12rem;
    height: 2rem;
    background-color: rgb(157, 231, 157);
    border-radius: 10px;    
    cursor: pointer;
}

.button1{
    background-color: rgb(240, 125, 125);
    border-radius: 5px; 
    position: relative; left: 15rem;
    cursor:pointer ;
}