.modal {
    text-align: center;
    position: fixed;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: none;   
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  @media (min-width: 300px) {
    .modal {
      width: 35rem;
      left: calc(64% - 5rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }